<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EditProjet</servlet-name>
  	<display-name>EditProjet</display-name>
  	<description></description>
  	<servlet-class>servlet.EditProjet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>EditProjet</servlet-name>
  	<url-pattern>/EditProjet</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>
